Container styling
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Label styling */
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-label-light {
  color: #333; /* Light mode color */
}

.form-label-dark {
  color: white; /* Dark mode color */
}

/* Input field styling */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styling */
.btn-primary {
  padding: 10px 20px;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Error message styling */
.text-danger {
  color: #ff3860;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 0.875em;
}


.thinking-cursor {
  cursor: progress;
}


